@use "../mixins" as *;

.directory-case-study {
  margin-inline: auto;
  padding-block: 5rem;

  @include respond(tablet) {
    padding-block: 3rem;
  }

  @include respond(mobile) {
    padding-block: 2rem;
  }
}

.case-study {
  color: var(--text-dark-800);
  font-family: var(--fs-secondary);

  &__cover {
    margin-block-start: 1rem;

    img {
      width: 100%;
    }
  }

  section {
    padding-inline: 1rem;

    @include respond(mobile) {
      padding-inline: 0.5rem;
    }

    p {
      line-height: 1.5;
      font-size: 1.125rem;
    }

    code {
      background-color: #eee;
    }

    ul {
      list-style: none;

      &.case-study__improvement-points {
        margin-top: 0.5rem;
        font-size: 1.125rem;
        font-weight: 500;
      }

      li {
        span {
          font-weight: bold;
        }
      }
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-accent);

    @include respond(tablet) {
      margin-bottom: 0.75rem;
    }

    @include respond(mobile) {
      margin-bottom: 0.5rem;
    }
  }

  &__title {
    font-family: var(--fs-primary);
    font-size: 3rem;
    font-weight: bold;

    @include respond(tablet) {
      font-size: 2rem;
    }
  }

  &__sub-heading {
    margin-block: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: var(--fs-primary);
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(mobile) {
      grid-template-columns: 1fr;
    }

    li {
      border-radius: 0.5rem;
      padding: 1rem;
      border: 1px solid #ccc;

      &:nth-child(1) {
        background-color: hsl(20, 100%, 95%);
      }

      &:nth-child(2) {
        background-color: hsl(60, 100%, 95%);
      }

      &:nth-child(3) {
        background-color: hsl(100, 100%, 95%);
      }

      &:nth-child(4) {
        background-color: hsl(140, 100%, 95%);
      }

      &:nth-child(5) {
        background-color: hsl(180, 100%, 95%);
      }

      &:nth-child(6) {
        background-color: hsl(220, 100%, 95%);
      }
    }
  }

  &__key-features {
    li + li {
      margin-top: 0.5rem;
    }
  }
}
