.playground {
  padding-block: 3rem;
  font-family: var(--fs-secondary);
  color: var(--clr-secondary);

  &__title {
    font-size: 2rem;
    font-weight: bold;
    grid-column: 1/-1;
  }

  &__items {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  &__item {
    aspect-ratio: 1/ 1;
    background-color: var(--bg-dark-100);
    border: 1px solid var(--bg-dark-200);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .playground__link-wrap {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__link-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    gap: .5rem;
    z-index: 10;
  }

  &__yt-link,
  &__git-link {
    padding: 0.5rem 1rem;
    line-height: 1;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    background-color: var(--bg-pure);
    color: var(--bg-dark-800);
    gap: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 2px 1rem rgba(black, .3);

    &:is(.playground__yt-link) {
      color: red;
    }

    &:hover {
      background-color: var(--bg-dark-800);
      color: var(--text-pure);

      &:is(.playground__yt-link) {
        background-color: red;
      }
    }



  }

}