@use '../mixins' as *;

.max-width-wrap {
  max-width: 65em;

  @include respond(tablet) {
    max-width: 80%;
  }

  @include respond(mobile) {
    max-width: 90%;
  }
}

.btn {
  all: unset;
  font-family: var(--fs-secondary);
  font-size: 0.875rem;
  color: var(--text-dark-800);
  cursor: pointer;
  border-radius: 100vmax;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  border: 1px solid var(--text-dark-800);
  transition: all 0.3s ease;

  .btn-icon {
    font-size: 1rem;
  }
}

.btn-primary {
  &:hover {
    background-color: var(--text-dark-800);
    color: var(--text-pure);
  }

  &.accent {
    &:hover {
      background-color: var(--bg-accent);
      border-color: var(--bg-accent);
    }
  }
}