:root {
  --fs-primary: "Domine", serif;
  --fs-secondary: "Nunito", sans-serif;
  --bg-dark-800: #333;
  --bg-dark-200: #ddd;
  --bg-dark-100: #ebebeb;
  --text-dark-800: #333;
  --text-dark-700: #838383;

  --bg-accent: rgb(180, 28, 28);
  --text-accent: rgb(180, 28, 28);

  --text-pure: #fff;
  --bg-pure: #fff;
}